@{
    ViewBag.Title = "Инфо";
}
<h2>@ViewBag.Title</h2>
<h3>Тестовый проект ASP.NET MVC</h3>

<p>Исходный код можно посмотреть на <a href="#">GitHub</a></p>

<br/>
<h4>Тестовые значения для входа:</h4>
<p>Логин: Twords</p>
<p>Почта: GaryMJohnson@teleworm.us</p>
<p>Пароль: Aa0ohshienae</p>
