@{
    ViewBag.Title = "Инфо";
}
<h2>@ViewBag.Title</h2>
<h3>Тестовый проект ASP.NET MVC</h3>

<p>Исходный код можно посмотреть на <a href="https://github.com/fa2m-alex/EmployeeViewer">GitHub</a></p>

<br/>

<p>Возможности:</p>
<p>- создание сотрудника</p>
<p>- редактирование сотрудника</p>
<p>- удаление сотрудника</p>
<p>- назначение начальника</p>

<br/>
<h4>Тестовые значения для входа:</h4>
<p>Почта: GaryMJohnson@teleworm.us</p>
<p>Пароль: 462sQ6nP-</p>
