@{
    ViewBag.Title = "Employee Viewer";
}

<div class="jumbotron">
    <h1>Employee Viewer</h1>
    <br/>
    <p class="lead">Тестовый проект ASP.NET MVC</p>
    <p><a href="https://github.com/fa2m-alex/EmployeeViewer" class="btn btn-primary btn-lg">See on GitHub &raquo;</a></p>
</div>

