@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Viewer</h1>
    <p class="lead">ASP.NET MVC Test</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">See on GitHub &raquo;</a></p>
</div>

